<div class="block">
  <div class="channel" *ngFor="let ch of channels; index as i">
    <label>
      <input
        class="check_input"
        type="checkbox"
        [checked]="formArray.value.includes(ch.name.toLowerCase())"
        (change)="change($event, ch.name)"
      />

      <span class="circle">
        <span
          class="check_box"
          [ngStyle]="{
            mask: 'url(' + ch.icon + ') no-repeat center',
            '-webkit-mask': 'url(' + ch.icon + ') no-repeat center'
          }"
        ></span>
      </span>
    </label>
    <p>{{ ch.name }}</p>
  </div>
</div>
