<div class="block" [formGroup]="form">
  <div
    class="channel"
    formArrayName="channels"
    *ngFor="let ch of channels; index as i"
  >
    <label>
      <input
        [formControlName]="i"
        class="check_input"
        type="checkbox"
        (change)="change(i)"
      />
      <span class="circle">
        <span
          class="check_box"
          [ngStyle]="{
            mask: 'url(' + ch.icon + ') no-repeat center',
            '-webkit-mask': 'url(' + ch.icon + ') no-repeat center'
          }"
        ></span>
      </span>
    </label>
    <p>{{ ch.name }}</p>
  </div>
</div>
