p {
  font-weight: 400;
  font-size: 13px;
}

.circle {
  background: white;
  clip-path: circle(50%);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #d8dae0 solid;
  border-radius: 50%;

  &.active {
    border: 1px #35dbaf solid;
  }
  &:hover {
    cursor: pointer;
    border: 1px #35dbaf solid;
  }
}

.check_input {
  display: block;
  cursor: pointer;
  -webkit-appearance: none;
}

.check_box {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.check_input:checked + .circle {
  border: 1px #35dbaf solid;
  .check_box {
    background: #1dc296;
  }
}
.check_input:not(:checked) + .circle .check_box {
  background: #8b8f9e;
}

.check_input:not(:checked):focus + .circle {
  border: 1px #35dbaf solid;
}

.channel {
  margin-right: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
