<form [formGroup]='form' class="flex flex-wrap align-items-start justify-content-start  h-full w-full">
    <div class="box shadow-3 mt-5 p-5 w-11   ">
        <div class=" create w-auto md:w-4 ">
            <h2>Создать заметку</h2>
            <div class="p-inputgroup ">
                <input type=" text" formControlName='input' pInputText placeholder="Название заметки" #input
                    (keydown.enter)="add(input)">
                <button class='btn' type="button" pButton [ngStyle]="{backgroundColor:'var(--cyan-700)'}"
                    icon="pi pi-send" (click)="add(input)" [disabled]="form.invalid"></button>
            </div>

        </div>

        <app-todos-filters (update)="changeFilter($event)" [filters]="filters" [active]="activeFilter$ | async">
        </app-todos-filters>

        <app-todos [todos]="todos$ | async" (delete)="delete($event)" (complete)="complete($event)"></app-todos>
    </div>

</form>