<div *ngIf="form;else loading">
    <form [formGroup]='form' (ngSubmit)="submit()">
        <div class="form-control" [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}">
            <label for="title">Имя котика:</label>
            <input type="text" id="title" formControlName='title'>
            <div class="validation" *ngIf="form.get('title').touched && form.get('title').invalid">
                <small *ngIf="form.get('title').errors.required">Имя не может быть пустым</small>
                <small *ngIf="form.get('title').errors.maxlength">Имя не может привышать
                    {{form.get('title').errors.maxlength.requiredLength}} символов </small>

            </div>
        </div>

        <div class="form-control"
            [ngClass]="{invalid: form.get('description').touched && form.get('description').invalid}">
            <label for="description">Описание кота:</label>
            <input type="description" id="description" formControlName='description'>
            <div class="validation" *ngIf="form.get('description').touched && form.get('description').invalid">
                <small *ngIf="form.get('description').errors.required">Описание не может быть пустым</small>
                <small *ngIf="form.get('description').errors.maxlength">Описание не может привышать
                    {{form.get('description').errors.maxlength.requiredLength}} символов </small>

            </div>
        </div>
        <div class="form-control" [ngClass]="{invalid: form.get('photo').touched && form.get('photo').invalid}">
            <label for="photo">Фото котика:</label>
            <input type="text" id="photo" formControlName='photo'>
            <div class="validation" *ngIf="form.get('photo').touched && form.get('photo').invalid">
                <small *ngIf="form.get('photo').errors.required">Введите ссылку на фото</small>

            </div>
        </div>

        <button class="btn btn-dark btn-block" type="submit" [disabled]="form.invalid ">Обновить</button>


    </form>
</div>
<ng-template #loading>
    <p class="text-center">Идёт загрузка...</p>
</ng-template>